.child_div{
    display: flex;
    /* border: 1px solid black; */
    
}
.main_div{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}
.child_div > p{
    font-weight: 600;
    font-size: 90px;
    cursor: pointer;
}